numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
tensorflow
tsplib95
tensorboard
pyyaml
ipykernel

--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision

--find-links https://data.pyg.org/whl/torch-2.4.0+cu121.html
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv